.about {
  padding: 8rem 0;

  &__title {
    margin-bottom: 5rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__card {
    flex: 1;
    flex-basis: 50rem;
    min-width: 34rem;
    max-width: 50rem;
    padding: 2.5rem 2rem;
    background-color: $color-grey;
    border-radius: 0.8rem;
    text-align: center;

    &-title {
      letter-spacing: 0.1rem;
      font-weight: $font-weight-bold;
      margin-bottom: 3rem;
      color: $color-secondary;
    }

    &-image {
      width: 65%;
      margin: 0 auto 0.8rem;
    }

    &-description {
      color: rgba($color-black, 0.75);
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width: $tablet-portrait-breakpoint) {
  .about {
    &__card {
      flex-basis: 32%;
      min-width: 30rem;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: $tablet-landscape-breakpoint) {
  .about {
    &__title {
      margin-bottom: 10rem;
    }
  }
}
