//Colors
$color-primary: #506db5;
$color-primary-light: #3f5895;
$color-secondary: #0e0e0e;

$color-grey: #f1f1f1;
$color-grey-dark: #cfcfcf;
$color-white: #fff;
$color-black: #000;
$color-error: #e74c3c;

// Typography
$font-family: 'Manrope', sans-serif;
$font-size-xs: 1.2rem;
$font-size-sm: 1.3rem;
$font-size-reg: 1.5rem;
$font-size-med-1: 1.8rem;
$font-size-med-2: 2.4rem;
$font-size-lg: 2.8rem;
$font-size-xl: 3.2rem;
$font-size-xxl: 4rem;
$font-size-xxxl: 5.6rem;

$font-weight-reg: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$tablet-portrait-breakpoint: 48em; // 768 / 16 (rem can't be used in media queries)
$tablet-landscape-breakpoint: 64em; // 1024 / 16 (rem can't be used in media queries)
$desktop-breakpoint: 90em; // 1440 / 16 (rem can't be used in media queries)
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 50%; //1rem = 8px 8px/16px = 50%

  @media only screen and (min-width: $tablet-portrait-breakpoint) {
    font-size: 56.25%; //1rem = 9px 9px/16px = 56.25%
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
  }
}

body,
input,
textarea {
  font-family: $font-family;
  font-size: $font-size-reg;
}

section {
  scroll-margin-top: 8rem;
  min-height: calc(100vh - 7.9rem);
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: $font-size-xxxl;
  line-height: 5.8rem;
}

h2 {
  font-size: $font-size-xxl;
  line-height: 4.4rem;
}

h3 {
  font-size: $font-size-xl;
  line-height: 3.6rem;
}

h4 {
  font-size: $font-size-lg;
  line-height: 3.8rem;
}

h5 {
  font-size: $font-size-med-2;
  line-height: 3.3rem;
}

h6 {
  font-size: $font-size-med-1;
  line-height: 2.4rem;
}

p {
  font-size: $font-size-reg;
  font-weight: $font-weight-medium;
}

strong {
  font-weight: $font-weight-bold;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  letter-spacing: 0.2rem;
  color: unset;
}

.container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;

  @media only screen and (min-width: $tablet-portrait-breakpoint) {
    width: 80%;
  }

  @media only screen and (min-width: $desktop-breakpoint) {
    width: 75%;
  }
}

.section {
  &__title {
    text-align: center;
    letter-spacing: 0.15rem;
  }
}

.highlight {
  color: $color-primary;

  &__invert {
    color: $color-secondary;
  }
}

.link {
  text-transform: unset;
  text-decoration: unset;
  letter-spacing: 0;
  font-size: $font-size-reg;
  font-weight: $font-weight-bold;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
  }

  &--black {
    color: rgba($color-black, 0.5);
  }

  &--white {
    color: $color-white;
  }
}

.logo {
  cursor: pointer;
  &__text {
    color: $color-white;
    text-transform: lowercase;

    &--highlight {
      color: $color-primary;
    }
  }
}
