.contact {
  padding: 4rem 0;
  background-color: $color-grey;
  text-align: center;

  &__container {
    max-width: 80rem;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  &__description {
    max-width: 60rem;
    margin: auto;
    margin-bottom: 6rem;
    color: rgba($color-black, 0.5);
  }

  &__form {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  &__button {
    margin-top: 2rem;
    min-width: 29rem;
  }

  &__input {
    flex: 1;
    flex-basis: 100%;
  }

  &__alternative {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  .contact {
    &__input {
      &--name,
      &--email {
        flex-basis: 48%;
      }
    }
  }
}
