.footer {
  background-color: $color-primary;
  padding: 4rem 0;
  text-align: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 5rem);
    background-color: #d87d4a;
    height: 0.4rem;
    width: 10rem;
  }

  &__nav {
    visibility: visible;
    opacity: 1;
    margin-bottom: 5rem;

    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  &__description {
    color: rgba($color-white, 0.5);
    font-weight: $font-weight-medium;
    margin-bottom: 6rem;
  }

  &__copyright {
    color: rgba($color-white, 0.5);
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    margin-bottom: 3rem;
  }

  &__social-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
