.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: $color-primary;
  padding-top: 3rem;
  border-bottom: 0.1rem solid rgba($color-white, 0.1);

  &__container {
    display: flex;
    align-items: center;

    padding-bottom: 3rem;
  }

  &__logo {
    margin: 0 auto;
  }
}

.nav {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  user-select: none;

  &__list {
    display: none;
  }

  &__link {
    color: $color-white;
    transition: all 0.2s;

    &:hover {
      color: $color-secondary;
    }
  }
}

.nav__menu {
  visibility: visible;
  opacity: 1;

  position: absolute;
  top: 7.5rem;
  left: 0;
  background-color: rgba($color-primary, 0.95);
  padding: 8rem;
  width: 100%;
  height: calc(100vh - 7.5rem);
  z-index: 1;
  text-align: center;

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.nav__toggle {
  cursor: pointer;
  color: $color-white;
  width: 2.4rem;
  padding: 1rem 0;
  overflow: hidden;

  &:focus,
  &:hover {
    .nav__toggle-icon,
    .nav__toggle-icon::before,
    .nav__toggle-icon::after {
      background-color: $color-secondary;
    }

    &.nav__toggle--close .nav__toggle-icon {
      background-color: transparent;
    }
  }

  &-icon {
    position: relative;
  }

  &-icon,
  &-icon::before,
  &-icon::after {
    display: block;
    background: $color-white;
    content: '';
    height: 0.2rem;
    width: 2.4rem;
    position: absolute;
    transition: all 0.2s ease-out;
  }

  &-icon::before {
    top: -0.5rem;
  }

  &-icon::after {
    top: 0.5rem;
  }

  &--close {
    .nav__toggle-icon {
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    .nav__toggle-icon::before {
      transform: rotate(-45deg);
      top: 0;
    }

    .nav__toggle-icon::after {
      transform: rotate(45deg);
      top: 0;
    }
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  .header {
    &__container {
      gap: 4.2rem;
    }

    &__logo {
      margin: 0;
    }
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  body {
    overflow: unset !important;
  }

  .header {
    &__container {
      justify-content: space-between;
    }
  }

  .nav {
    visibility: visible;
    opacity: 1;

    &__list {
      display: flex;
      gap: 3.4rem;
    }
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    visibility: hidden;
    opacity: 0;
  }
}
