.header {
  background-color: $color-primary;
  padding-top: 3rem;
  border-bottom: 0.1rem solid rgba($color-white, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 3rem;
  }
}

.nav {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;

  &__toggle {
    cursor: pointer;
    color: $color-white;
    height: 1.6rem;

    &:focus,
    &:hover {
      opacity: 0.75;
    }

    &-icon {
      width: 50%;
      position: relative;
    }

    &-icon,
    &-icon::before,
    &-icon::after {
      display: block;

      width: 1.6rem;
      height: 0.3rem;
      background: $color-white;
    }

    &-icon::before,
    &-icon::after {
      content: '';
      width: 100%;
    }

    &-icon::before {
      transform: translateY(0.6rem);
    }

    &-icon::after {
      transform: translateY(0.9rem);
    }
  }

  &__list {
    display: flex;
  }

  &__link {
    color: $color-white;
    transition: all 0.2s;

    &:hover {
      color: $color-secondary;
    }
  }
}

.nav__menu {
  visibility: visible;

  opacity: 1;
  position: absolute;
  top: 7.5rem;
  left: 0;
  background-color: $color-primary;
  padding: 8rem;
  width: 100vw;
  height: calc(100vh - 7.5rem);
  z-index: 1;
  text-align: center;

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}
