.header {
  position: fixed;
  width: 100%;
  background-color: $color-primary;
  padding-top: 3rem;
  border-bottom: 0.1rem solid rgba($color-white, 0.1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 3rem;
  }
}

.nav {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  user-select: none;

  &__list {
    display: none;
  }

  &__link {
    color: $color-white;
    transition: all 0.2s;

    &:hover {
      color: $color-secondary;
    }
  }
}

.nav__menu {
  visibility: visible;
  opacity: 1;

  position: absolute;
  top: 7.5rem;
  left: 0;
  background-color: rgba($color-primary, 0.95);
  padding: 8rem;
  width: 100%;
  height: calc(100vh - 7.5rem);
  z-index: 1;
  text-align: center;

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
}

.nav__toggle {
  cursor: pointer;
  color: $color-white;
  width: 2.4rem;
  padding: 1rem 0;
  overflow: hidden;

  &:focus,
  &:hover {
    opacity: 0.75;
  }

  &-icon {
    position: relative;
  }

  &-icon,
  &-icon::before,
  &-icon::after {
    display: block;
    background: $color-white;
    content: '';
    height: 0.2rem;
    width: 2.4rem;
    position: absolute;
    transition: all 0.2s ease-out;
  }

  &-icon::before {
    top: -5px;
  }

  &-icon::after {
    top: 5px;
  }

  &--close {
    .nav__toggle-icon {
      background: transparent;
    }

    .nav__toggle-icon::before {
      transform: rotate(-45deg);
      top: 0;
    }

    .nav__toggle-icon::after {
      transform: rotate(45deg);
      top: 0;
    }
  }
}
