.home {
  background-color: $color-primary;
  color: $color-white;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  height: 95vh;

  display: flex;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__title {
    text-transform: uppercase;
    &--primary {
      margin-top: 1.5rem;
      letter-spacing: 0.3rem;
    }

    &--secondary {
      letter-spacing: 0.5rem;
      font-size: $font-size-sm;
      opacity: 0.5;
    }
  }

  &__subtitle {
    opacity: 0.75;
    line-height: 2.5rem;
  }

  &__cta-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__cta-btn {
    max-width: 100%;
    flex-basis: 100%;
  }
}
