.home {
  padding: 13rem 0 16rem;
  background-color: var(--color-secondary);
  color: var(--heading-light-color);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    &--primary {
      margin-top: 1.5rem;
      letter-spacing: 0.3rem;
    }

    &--secondary {
      letter-spacing: 0.5rem;
      font-size: var(--font-size-sm);

      color: var(--body-lighter-color);
    }
  }

  &__subtitle {
    color: var(--body-light-color);
    line-height: 2.5rem;
  }

  &__cta-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__cta-btn {
    flex: 1;
    flex-basis: 45%;
    max-width: 100%;
    min-width: 29rem;
  }

  &__social-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__social-link {
    &:hover {
      color: var(--color-primary);
    }
  }
}

@media only screen and (min-width: $bp-tablet-portrait) {
  .home {
    &__cta-btn {
      max-width: 35rem;
    }
  }
}
