.projects {
  background-color: $color-grey;
  padding: 4rem 0;

  &__container {
    position: relative;
  }

  &__list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__block {
    overflow: hidden;
    text-align: center;
  }

  &__img {
    width: 100%;
    display: flex;
    box-shadow: 0 0.3rem 1.5rem rgba($color-black, 0.2);
    margin-bottom: 3rem;

    img {
      object-fit: cover;
    }
  }

  &__title {
    color: $color-black;
    letter-spacing: 0.15rem;
    margin-bottom: 4rem;
  }

  &__description {
    color: rgba($color-black, 0.5);
    line-height: 2.5rem;
    margin-bottom: 1.75rem;
  }

  &__tags {
    margin-bottom: 4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
  }

  &__tag-item {
    padding: 0.3rem 0.75rem;
    color: rgba($color-black, 0.5);
    border: 0.1rem solid rgba($color-black, 0.5);
    border-radius: 0.5rem;
    font-size: $font-size-xs;
  }

  &__cta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__message {
    margin-top: 4rem;
    text-align: center;
    color: rgba($color-black, 0.5);
  }

  &__nav-btn {
    visibility: hidden;
    position: absolute;
    top: 29rem;

    padding: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgba($color-primary, 0.6);
    color: rgba($color-white, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &--prev {
      left: -4rem;
    }

    &--next {
      right: -4rem;
    }
  }
}
