.projects {
  background-color: $color-white;
  padding: 8rem 0;

  &__title {
    margin-bottom: 5rem;
  }

  &__container {
    position: relative;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__block {
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  &__img {
    max-width: 55rem;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;

    img {
      object-fit: contain;
    }
  }

  &__details {
    flex: 1;
    flex-basis: 50%;
  }

  &__item-title {
    color: $color-black;
    letter-spacing: 0.15rem;
    margin-bottom: 3rem;
  }

  &__description {
    color: rgba($color-black, 0.5);
    line-height: 2.5rem;
    margin-bottom: 1.75rem;
  }

  &__tags {
    margin-bottom: 4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
  }

  &__tag-item {
    padding: 0.3rem 0.75rem;
    color: rgba($color-black, 1);
    border: 0.1rem solid rgba($color-black, 1);
    border-radius: 0.5rem;
    font-size: $font-size-xs;
  }

  &__cta-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &__cta-btn {
    flex: 1;
    flex-basis: 45%;
    max-width: 100%;
    min-width: 29rem;
  }

  &__message {
    margin-top: 7rem;
    text-align: center;
    color: rgba($color-black, 0.5);
  }

  &__nav-btn {
    visibility: hidden;
    position: absolute;
    top: 29rem;

    padding: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgba($color-primary, 0.6);
    color: rgba($color-white, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &--prev {
      left: -2rem;
    }

    &--next {
      right: -2rem;
    }
  }
}

@media only screen and (min-width: $tablet-portrait-breakpoint) {
  .projects {
    &__cta-btn {
      min-width: 25rem;
      max-width: 30rem;
    }

    &__nav-btn {
      &--prev {
        left: -4rem;
      }

      &--next {
        right: -4rem;
      }
    }
  }
}

@media only screen and (min-width: $tablet-landscape-breakpoint) {
  .projects {
    &__title {
      margin-bottom: 10rem;
    }

    &__block {
      flex-direction: row;
      align-items: flex-start;
      gap: 6rem;
    }

    &__img {
      flex-basis: 40rem;
    }

    &__details {
      text-align: start;
    }

    &__tags {
      justify-content: flex-start;
    }

    &__cta-btn-group {
      justify-content: flex-start;
    }

    &__cta-btn {
      min-width: 20rem;
    }
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .projects {
    &__block {
      gap: 8rem;
    }
  }
}
