.skills {
  padding: 8rem 0;
  background-color: $color-primary;
  text-align: center;

  &__title {
    color: $color-white;
    margin-bottom: 5rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }

  &__group {
    flex: 1;
    min-width: 34rem;
    max-width: 50rem;
  }

  &__description {
    color: rgba($color-white, 0.75);
    line-height: 2.5rem;
  }

  &__icons-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    flex-basis: 27%;
    color: rgba($color-white, 0.75);
  }
}

@media only screen and (min-width: $tablet-portrait-breakpoint) {
  .skills {
    &__group {
      flex-basis: 30%;
      min-width: 28rem;
      max-width: 50%;
    }
  }
}

@media only screen and (min-width: $tablet-landscape-breakpoint) {
  .skills {
    &__title {
      margin-bottom: 10rem;
    }
  }
}
