.container {
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;

  @media only screen and (min-width: $bp-tablet-portrait) {
    width: 80%;
  }

  @media only screen and (min-width: $bp-desktop) {
    width: 75%;
  }
}

.section__title {
  text-align: center;
  letter-spacing: 0.15rem;
}

.highlight {
  color: var(--color-primary);

  &__invert {
    color: var(--color-secondary);
  }
}

.link {
  text-transform: unset;
  text-decoration: unset;
  letter-spacing: 0;
  font-size: var(--font-size-reg);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }

  &--black {
    color: var(--body-dark-color);
  }

  &--white {
    color: var(--body-light-color);
  }
}

.logo {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  &__img {
    height: 2.4rem;

    img {
      height: 100%;
    }
  }
}
